__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.env
.venv
venv/
ENV/

.ipynb_checkpoints/

# Notebooks convertidos
*.nbconvert.ipynb

data/
datasets/
*.csv
*.tsv
*.parquet
*.h5
*.hdf5

# Modelos entrenados
models/
*.pkl
*.joblib
*.h5
*.pt
*.ckpt
*.onnx
*.pdf

logs/
*.log
outputs/
results/


.env.*
*.env
config_local.*
secrets.*

.DS_Store
Thumbs.db

.vscode/
.idea/